<div class="add-container">
    <h2>My Flights</h2>
    <mat-form-field>
      <input matInput placeholder="Flight number" [(ngModel)]="FlightNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Departure" [(ngModel)]="departure">
    </mat-form-field>
      <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Departure time" [(ngModel)]="departureTime">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Destination" [(ngModel)]="destination">
      </mat-form-field>
        <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Arrival time" [(ngModel)]="arrivalTime">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    <button mat-button color="primary" (click)="create()">Add</button>
  
  </div>
<mat-list>
  <h3 mat-subheader>Enabled flights</h3>
  <mat-list-item *ngFor="let flight of flights">
    <mat-icon mat-list-icon>flight_takeoff</mat-icon>
    <a mat-button routerLink="{{flight.id}}" matTooltip="Flight detail">{{flight.number}}</a>
    <button mat-icon-button (click)="delete(flight)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>


