.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-sidenav-content{
  background-image: url('/assets/images/background.png');
  background-size: 100% 100%;
  background-blend-mode: darken;
}


