
.type-card {
    max-width: 400px;
    margin-left: 10px; 
  }
  
  .type-header-image {
    background-image: url('/assets/images/type_icon.png');
    background-size: cover;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #888;
  }

  .title{
    margin: 10px;
  }