<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title> Tickets</mat-card-title>
      <mat-card-subtitle>Enabled tickets</mat-card-subtitle>
     </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
    
            <mat-list-item *ngFor="let ticket of tickets">
              <mat-icon mat-list-icon>receipt</mat-icon>
              <a mat-button routerLink="{{ticket.id}}" matTooltip="Ticket detail">{{ticket.flightNumber}} - {{ticket.price}} $ </a>
              <button mat-icon-button (click)="delete(ticket)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Tickets</mat-card-title>
    <mat-card-subtitle>Add ticket</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div class="add-container">

          <mat-form-field>
            <input matInput placeholder="Price" [(ngModel)]="price">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Flight Number" [(ngModel)]="flightNumber">
          </mat-form-field>
         
          <button mat-button color="primary" (click)="create()">Add</button>
        
        </div>
      
  </mat-card-content>

</mat-card>






