
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title> Airplanes</mat-card-title>
      <mat-card-subtitle>Enabled airplanes</mat-card-subtitle>
     </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
       
            <mat-list-item *ngFor="let airplane of airplanes">
              <mat-icon mat-list-icon>airplanemode_on</mat-icon>
              <a mat-button routerLink="{{airplane.id}}" matTooltip="Board detail">{{airplane.name}}</a>
              <button mat-icon-button (click)="delete(airplane)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>

<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Airplanes</mat-card-title>
    <mat-card-subtitle>Add airplane</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div class="add-container">
     
          <mat-form-field>
            <input matInput placeholder="Board number" [(ngModel)]="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Airplane type" [(ngModel)]="type">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Airplane lifetime" [(ngModel)]="lifeTime">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Airplane release" [(ngModel)]="creationDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-button color="primary" (click)="create()">Add</button>
        
        </div>
      
  </mat-card-content>

</mat-card>







