

<div class="add-container">
    <h2>My Airplanes</h2>
    <mat-form-field>
      <input matInput placeholder="Board number" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Airplane type" [(ngModel)]="type">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Airplane lifetime" [(ngModel)]="lifeTime">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Airplane release" [(ngModel)]="creationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary" (click)="create()">Add</button>
  
  </div>
<mat-list>
  <h3 mat-subheader>Enabled airplanes</h3>
  <mat-list-item *ngFor="let airplane of airplanes">
    <mat-icon mat-list-icon>airplanemode_on</mat-icon>
    <a mat-button routerLink="{{airplane.id}}" matTooltip="Board detail">{{airplane.name}}</a>
    <button mat-icon-button (click)="delete(airplane)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>


