<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title> Departures</mat-card-title>
      <mat-card-subtitle>Enabled departures</mat-card-subtitle>
     </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            
            <mat-list-item *ngFor="let dep of departures">
              <mat-icon mat-list-icon>flight_takeoff</mat-icon>
              <a mat-button routerLink="{{dep.id}}" matTooltip="Departure detail">{{dep.flightNumber}} - {{dep.time | date : medium}}</a>
              <button mat-icon-button (click)="delete(dep)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  
  </mat-card>


<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Departures</mat-card-title>
    <mat-card-subtitle>Add departure</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div class="add-container">
          <mat-form-field>
            <input matInput placeholder="Flight number" [(ngModel)]="FlightNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Departure time" [(ngModel)]="time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-button color="primary" (click)="create()">
              <mat-icon class="add" mat-list-icon>add</mat-icon>ADD
          </button>
        </div>
  </mat-card-content>

</mat-card>





