.crew-card {
    max-width: 400px;
    margin-left: 10px; 
  }
  
  .crew-header-image {
    background-image: url('/assets/images/crew_icon.jpg');
    background-size: cover;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #888;
  }
  
  .title{
    margin: 10px;
  }