.flight-card {
    max-width: 400px;
    margin-left: 10px; 
  }
  
  .flight-header-image {
    background-image: url('/assets/images/flight_icon.png');
    background-size: cover;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #888;
  }
  
  .title{
    margin: 10px;
  }

  .mat-card-image{
      background-color: rgb(219, 212, 212);
  }