.departure-card {
    max-width: 400px;
    margin-left: 10px; 
  }
  
  .departure-header-image {
    background-image: url('https://static-s.aa-cdn.net/img/ios/967818924/6d5e49581f6740185dc9ce6afb479290?v=1');
    background-size: cover;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: #888;
  }
  
  .title{
    margin: 10px;
  }

  .mat-card-image{
      background-color: rgb(219, 212, 212);
  }